fn conf_enable_robot {
	conf_enable_app robot
}

fn robot_init {
	if(~ $req_path /robot.js){
		echo 'Content-Type: text/plain'
		echo
		cat $werc_root^'/apps/robot'^$req_path
		exit
	}
	if not if(~ $req_path /move){
		if(~ $REQUEST_METHOD POST) {
			if(~ $"post_arg_dir u d l f r)
				echo $"post_arg_dir >> /tmp/robot
		}
	}
}

